@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: poppins, sans-serif;
   -webkit-font-smoothing: auto;
   -moz-osx-font-smoothing: auto;
   color: white;
}

body {
   min-height: 100vh;
   background-color: black;

   display: flex;
   flex-direction: column;

   border: 1px solid white;
}


.container {
   display: flex;
   justify-content: flex-start;
   flex-grow: 1;
}

.left-content {
   width: 40%;

   display: flex;
   flex-direction: column;
   align-items: center;

   border: 1px solid white;
}

.left-content h1 {
   font-weight: 900;
   font-size: 2.25rem;
   line-height: 2.5rem;
   padding-bottom: 8px;
}

.right-content {
   width: auto;

   display: flex;
   flex-direction: column;

   margin: 0 auto;

   border: 1px solid white;
}

.right-content .header {
   width: auto;

   display: flex;
   justify-content: space-between;
   align-items: center;

   border: 1px solid white;
}

.right-content .co {
   font-weight: 700;
   /* font-size: 1.875rem;
   line-height: 2.25rem; */

   font-size: 2.25rem;
   /* 36px */
   line-height: 2.5rem;
   /* 40px */

   color: rgb(230, 100, 100);
   
}

.right-content p {
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 500;
}

.right-content a {
   color: rgb(230, 100, 100);
}

.right-content .create-an-account {
   font-weight: 900;
   font-size: 1.875rem;
   line-height: 2.25rem;
   margin-bottom: 2rem;
}

.right-content .first-row,
.right-content .second-row,
.right-content .third-row {
   display: flex;
}

.first-row div:first-child,
.second-row div:first-child,
.third-row div:first-child {
   display: flex;
   flex-direction: column;
}

.first-row div:last-child,
.second-row div:last-child,
.third-row div:last-child {
   display: flex;
   flex-direction: column;
}

input {
   background-color: black;
   border: 1px solid white;
}

input[name="first-name"],
input[name="email"],
input[name="password"] {
   margin-right: 2rem;
}

input[type="text"] {
   height: 2rem;
   width: 13rem;
}

input[type="email"] {
   height: 2rem;
   width: 13rem;
}

input[type="password"] {
   height: 2rem;
   width: 13rem;
}

input[type="checkbox"] {
   margin-top: 1rem;
}

button {
   height: 2.25rem;
   width: 12rem;

   background-color: rgb(230, 100, 100);
}

label {
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 500;
}

label+input {
   margin-top: 0.25rem;
}

.second-row label,
.third-row label {
   margin-top: 1rem;
}

input:last-child {
   /* margin-right: 1.75rem; */
}

button {
   display: block;
   margin-top: 1.25rem;
}

footer {
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 500;
   margin-top: 3rem;
}

.square {
   height: 120px;
   width: 45px;

   background-color: rgb(230, 100, 100);

}

.circle {
   height: 300px;
   width: 300px;
   border: 1px solid white;
}